<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Lista de lugares</h1>

        <nav>
            <ul>



                <li><a th:href="@{/principal}">TravelCan</a></li>
                <li><a th:href="@{/viajes}">Viajes</a></li>


                <li><a th:href="@{/mascotas}">Mascotas</a></li>
                <li><a th:href="@{/lugares}">Lugares</a></li>
            </ul>

        </nav>

        <div>
            <p>lUGARES.</p>
        </div>
    </body>
</html>
